:root {
  /* Primary */

--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);

/* Neutral */

--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black : hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  border: 4px solid orange;
  min-height: 100vh;
}


/* TOP SECTION START */
.top-section {
  /* border: 1px solid orange; */
}

.top-section img {
  width: 100%;
}


.hero-img {
  border: 1px solid black;
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  /* margin-top: -40px; */
  overflow: hidden;

}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust image to fill the container */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.nav-btn-box {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
}

.nav-btn {
  /* border: 1px solid crimson; */
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.nav-btn img {
  width: 15px;
}
/* TOP SECTION END */

/* MIDDLE SECTION START*/

.middle-section, .bottom-section {
  margin: 0 20px;
}

.middle-section {
  /* border: 1px solid orangered; */
}
.brand-name {
  /* border: 1px solid purple; */
  margin: 25px 0px 10px 0;
  color: var(--Dark-grayish-blue);
}

.brand-name p {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
}

.product-name {
  /* border: 1px solid cyan; */
  margin-bottom: 15px;
}

.product-name p {
  font-size: 25px;
  margin: 0;
  font-weight: 700;
}

.product-description {
  /* border: 1px solid crimson; */
}

.product-description  {
  font-size: 16px;
  margin: 0;
  color: var(--Dark-grayish-blue);
}
/* MIDDLE SECTION END */

.bottom-section {
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
}

.price-box {
  /* border: 1px solid cyan; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.discount-box {
  display: flex;
  align-items: center;
  margin: 22px 0;
}

.discount-box p:first-child {
  font-size: 25px;
  font-weight: 700;
  margin-right: 15px;
}

.discount-box p:last-child {
  background-color: var(--Black);
  color: var(--White);
  font-weight: 700;
  padding: 5px 8px;
  border-radius: 5px;
}

.full-price {}

.full-price p {
  font-size: 18px;
  font-weight: 700;
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
}

/* NUMBER OF ITEMS START */
.numOfItem {
  /* border: 1px solid blueviolet; */
  background-color: var(--Pale-orange);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.numOfItem img:first-child {
  width: 18px;
  height: 6px;
}

.numOfItem img:last-child {
  /* width: 12px; */
  height: 14px;
}

input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

input:focus {
  border: 2px solid var(--Orange);
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* NUMBER OF ITEMS END */

.cartBtn {
  /* border: 1px solid green; */
  background-color: var(--Orange);
  border-radius: 5px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}

.cartBtn img {
  margin-right: 20px;
  color: var(--Black);
}








